# The directory for development things. I usually put binary compiled with go build,
# custom configs, etc.
.dev

# These files change after integration
# tests runs
tests/**/metadata.json
tests/**/*.vlog

.direnv
.DS_Store

result
